---
import ExperienceItem from "./ExperienceItem.astro";
import {EXPERIENCES} from "../../data/experience_data.ts";
---

<ol class="relative border-s border-gray-200 ml-4">
    {
        EXPERIENCES.map(experience => (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...experience}/>
                </li>
        ))
    }
</ol>

