<header
        class="sticky top-0 w-full z-10 p-4 backdrop-blur-lg bg-opacity-80 shadow-xl"
>
    <nav class="flex justify-center items-center mx-auto text-white/80 gap-4 lg:gap-8">
        <a href="#home">Inicio</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#aboutme">Sobre mí</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>
