---
import Badge from "./ui/Badge.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import GitHubIcon from "./icons/GitHub.astro";
import DownloadIcon from "./icons/Download.astro";
import SocialPill from "./ui/SocialPill.astro";
---

<img
        class="size-44 rounded-full shadow-lg bg-gray-700/60 drop-shadow-2xl"
        src="/adonay.webp"
        alt="Adonay"
/>
<article class="flex flex-col items-center sm:items-start gap-3">
    <div class="flex flex-col gap-2">
        <div class="flex flex-col sm:flex-row items-center gap-2 sm:gap-4">
            <h1 class=" text-2xl sm:text-4xl text-center sm:text-left font-bold text-slate-100 flex flex-row gap-x-4">
                Adonay Gutiérrez
            </h1>
            <a
                href="https://www.linkedin.com/in/adonay-guti%C3%A9rrez-77a7a91b2/"
                target="_blank"
                rel="noopener"
                class="flex justify-center items-center"
            >
                <Badge color="green" class="hover:scale-105 transition ease-in">Buscando trabajo</Badge>
            </a>
        </div>
        <p class="text-slate-300 text-sm sm:text-lg text-center sm:text-start max-w-xl rounded-2xl text-pretty">
            <span class="text-primary-color">Desarrollador Web</span> apasionado.
            <span class="text-[#70E1E8]">De San Salvador, El Salvador. </span>
            Especializado en crear aplicaciones únicas.
        </p>
    </div>
    <nav class="flex gap-3 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/adonay-guti%C3%A9rrez-77a7a91b2/">
            <LinkedInIcon class="size-4"/>
            LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/adogrz">
            <GitHubIcon class="size-4"/>
            GitHub
        </SocialPill>
        <SocialPill href="#">
            <DownloadIcon class="size-5"/>
            Descargar CV
        </SocialPill>
    </nav>
</article>