---
import SendIcon from "./icons/Send.astro";
import ClipboardIcon from "./icons/Clipboard.astro";
import TooltipPill from "./ui/TooltipPill.astro";
---

<div class="flex gap-2">
    <div class="bg-white/5 w-full py-1.5 px-3 rounded-lg flex items-center">
        <span class="text-[#8BD49C]">adonaygutierrez50@gmail.com</span>
    </div>
    <div class="flex gap-2">
        <TooltipPill text="Enviar correo" href="mailto:adonaygutierrez50@gmail.com">
            <SendIcon class="size-5 text-white"/>
        </TooltipPill>
        <TooltipPill text="Copiar correo">
            <ClipboardIcon class="size-5 text-white"/>
        </TooltipPill>
    </div>
</div>