---
---

<div aria-hidden="true" class="h-5 w-64 mx-auto bg-[url('/line.svg')] invert dark:invert-0" style="mask-image: linear-gradient(90deg, transparent, #fff 4rem, #fff calc(100% - 4rem), transparent);">
</div>
