---
const { href } = Astro.props;
---

<a
    {...Astro.props}
    href={href}
    class='py-2.5 px-3 h-9 inline-flex items-center justify-center gap-2 text-sm font-medium rounded-lg cursor-pointer bg-background text-primary-foreground border border-slate-300/80 dark:border-gray-600 shadow-sm transition-colors ease-in hover:bg-slate-300/40 hover:text-accent-foreground dark:hover:bg-gray-700'
    target="_blank"
    rel="noopener"
>
    <slot/>
</a>