<a
        class=
            {`py-2 px-4 h-9 inline-flex items-center justify-center gap-2 bg-background  cursor-pointer rounded-md border border-input border-white/10 shadow-sm text-sm font-medium transition-colors duration-500 hover:bg-white/10`}
        {...Astro.props}
        target="_blank"
        rel="noopener"
        download
>
    <slot/>
</a>